nav img {
    float: right;
    width: 50px;
}

.menu {
    display: inline-block;
    list-style-type: none;
    margin-left: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu li {
    background: var(--bc2);
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 0 16px;
    padding: 4px 8px;
    text-align: center;
    width: 80px;
}

.menu li:hover {
    background: var(--bc);
    text-decoration: underline;
}

.menu li:active {
    color: teal;
}

@media (max-width: 480px) {

    nav img {
        display: none;
    }

    .menu {
        display: none;
    }

}