.game-info {
    line-height: 24px;
}

.row {
    height: var(--size);
    width: calc(var(--size) * 3);
}

.row:nth-child(4) {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.status {
    margin-bottom: 10px;
}

.square {
    border: 1px solid;
    border-bottom: none;
    float: left;
    font-size: calc(var(--size) / 2);
    font-weight: 700;
    height: var(--size);
    width: var(--size);
}

.square+.square {
    border-left: 0;
}