@use 'sass:color';
@use 'sass:list';

$borderColor: color.invert(black);
$fontSize: 32px;
$fontSize: 1000px !default;

$dimensions: (
    1,
    2,
    3,
    4,
    5,
    32,
);

:root {
    $fontSize: list.nth($dimensions, 6) * 1px;
    --font-size: #{$fontSize};
}