@use 'root' as r;

@each $mm in r.$dimensions {
    .mar-#{$mm} {
        margin: #{$mm}rem;
    }

    .pad-#{$mm} {
        padding: #{$mm}rem;
    }
}

@for $i from 1 through 5 {
    .br-#{$i} {
        border-radius: #{$i}rem;
    }
}