@use 'root' as *;
@use 'root' as r;
@use 'sass:math';

.text-box {
    border: 1px solid r.$borderColor;
    font-size: var(--font-size);
    height: math.div(400, 2) * 1px;
    line-height: $fontSize;
    margin: auto;
    overflow: scroll;
    padding: calc(r.$fontSize / 2);
    width: 80%;
}