.form {
    background: #0f1926;
    border-radius: 16px;
    float: left;
    height: 80vh;
    margin: 10vh 0 0 10vw;
    overflow-y: scroll;
    width: 35vw;
}

.form button {
    background: #083876;
    border-color: #083876;
    border-radius: 16px;
    margin-top: 20px;
    outline: none;
    padding: 6px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.form button:hover {
    text-decoration: underline;
}

.form button:active {
    background: #052754;
    border-color: #052754;
}

.form h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 6px;
    margin: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

.form input {
    background: #1e2937;
    border-color: #1e2937;
    outline: none;
    padding: 6px;
    width: 100%;
}

.form input:focus {
    border-color: #21b184;
}

.form input:invalid {
    border-color: #aa0000;
}

.form input::selection {
    background: #005500;
}

.form label {
    display: inline-block;
    margin-bottom: 4px;
    user-select: none;
}

.form-select {
    background: #1e2937;
    border-color: #1e2937;
    outline: none;
    padding: 6px;
    width: 100%;
}

.form-select:focus {
    border-color: #21b184;
}

.form textarea {
    background: #1e2937;
    border-color: #1e2937;
    display: block;
    height: 200px;
    outline: none;
    padding: 6px;
    width: 100%;
}

.form textarea:focus {
    border-color: #21b184;
}

.form textarea::selection {
    background: #005500;
}

.form-input {
    margin: 20px 40px;
}

.form-output {
    background: #0f1926;
    border-radius: 16px;
    float: left;
    height: 80vh;
    margin: 10vh 0 0 10vw;
    overflow-y: scroll;
    width: 35vw;
}

.form-output h2 {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 6px;
    margin: 40px 20px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

.menu {
    display: inline-block;
    list-style-type: none;
    margin-left: 32px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.menu li {
    background: var(--bc2);
    border-radius: 8px;
    display: inline-block;
    font-size: 16px;
    margin: 0 16px;
    padding: 4px 8px;
    text-align: center;
    width: 80px;
}

.menu li:hover {
    background: var(--bc);
    text-decoration: underline;
}

.menu li:active {
    color: teal;
}

.message {
    border: 1px solid #083876;
    height: 100px;
    line-height: 16px;
    margin: 40px 40px;
    overflow-y: scroll;
    padding: 8px 8px;
    user-select: none;
    word-break: break-all;
}

.message-email {
    color: teal;
    font-size: 12px;
    margin-top: 4px;
}

.message-email--switch {
    color: peru;
    font-size: 12px;
    margin-top: 4px;
}

.message-message {
    color: #888;
    font-size: 12px;
    margin-top: 4px;
}

.message-name {
    color: peru;
    font-size: 20px;
}

.message-name--switch {
    color: teal;
    font-size: 20px;
}

.modal {
    cursor: not-allowed;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.modal-image {
    background: #23272f;
    border: 1px solid #57b285;
    left: 50%;
    max-height: 75vh;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
}

.mood {
    background: #0d1117 !important;
}

.mood-label {
    color: #555 !important;
}

.mood-icon {
    padding-bottom: 2px;
}

.pokemon {
    margin: 32px;
    text-align: center;
}