aside {
    height: 0;
}

body {
    background: var(--bc);
    color: var(--fc);
    font-family: Nunito Sans, sans-serif;
    overflow-x: hidden;
}

h1 {
    font-size: 48px;
    padding: 16px;
    user-select: none;
    text-align: center;
}

header {
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

main {
    background: var(--bc2);
    height: 100vh;
}

nav {
    background: var(--bc2);
    background-image: url(https://source.unsplash.com/random/2000x1000/?library);
    height: 50px;
}

ul {
    list-style-type: none;
}