@use 'utilities' as *;

html {
    overflow-x: hidden;
}

p {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

#button-fetch {
    &:hover {
        animation: pulse .5s ease-in-out .25s infinite alternate;
    }
}

#params {
    margin-top: 1rem;
    text-align: center;

    a {
        background: teal;
        border-radius: 1rem;
        color: white;
        display: inline-block;
        font-size: 3rem;
        padding: 1rem;
        text-transform: uppercase;

        &:visited {
            color: white;
        }

        &:hover {
            background: darken(teal, 2%)
        }

        &:active {
            transform: scale(.98);
        }
    }
}

#photos {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    justify-content: center;
    list-style: none;
    margin: .5rem;

    img {
        user-select: none;
        vertical-align: middle;
    }
}

#props {
    @include offscreen;
}

#spinner {
    $offset: 50%;

    left: $offset;
    position: fixed;
    top: $offset;
    transform: translate(-$offset, -$offset) !important;
}

#state {
    @include offscreen;
}